<launch>

   <arg name="enable_raw" default="True"/>
   <arg name="enable_imv" default="false"/>
   <arg name="camera_id" default="0"/>
   <arg name="camera_frame_id" default="raspicam"/>
   <arg name="camera_name" default="camerav2_1280x960"/>
   
   
   <arg name="model" />
   <arg name="gui" default="true" />

    <machine name="robot" address="192.168.1.110" env-loader="/opt/ros/noetic/env_robot.sh" user="ubuntu" password="123456789" />
    
    <node machine="robot" type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">
    <param name="private_topics" value="true"/>

    <param name="camera_frame_id" value="$(arg camera_frame_id)"/>
    <param name="enable_raw" value="$(arg enable_raw)"/>
    <param name="enable_imv" value="$(arg enable_imv)"/>
    <param name="camera_id" value="$(arg camera_id)"/>

    <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_1280x960.yaml"/>
    <param name="camera_name" value="$(arg camera_name)"/>
    <param name="width" value="640"/>
    <param name="height" value="480"/>

    <param name="framerate" value="30"/>
  </node>

    
    <node machine="robot" pkg="rosserial_python" type="serial_node.py" name="bus" respawn="true">
       <param name="port" value="/dev/ttyUSB0"/>
       <param name="baud" value="115200"/>
    </node>
    

        
	<param name="robot_description" textfile="$(find inmoov_description)/robots/inmoov.urdf" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find inmoov_description)/urdf.rviz" required="true" />

     <rosparam file="$(find face_tracker_newman)/config/track.yaml" command="load"/>
     <node name="face_tracker" pkg="face_tracker_newman" type="face_tracker_node" output="screen" />
     <rosparam file="$(find face_tracker_control_newman)/config/servo_param.yaml" command="load"/>
     <node name="face_controller" pkg="face_tracker_control_newman" type="face_tracker_controller" output="screen" />

</launch>
